img{
    width: 100%;
    width: 100%;
}

*{
  color: #6C4A4A;
}
.navContainer{
    width: 98%;
    margin-right: 1%;
    height: 40px;
    border: 1px solid whitesmoke;
    margin: 1%;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    
    background:#EDEDED;
    
}
.navContainer>div{
  /* border: 1px solid; */
  margin-right: 4%;
  padding-top: 5px;
}
.containerChild{
  margin-left: 20%;
}
.nv{
  color: #6C4A4A;
}
.nv:hover{
  cursor: pointer;
  color:grey;
  font-size: 16.1px;
  font-weight: bold;
}
.mainDiv{
    /* border: 1px solid; */
    /* width: 50x;
    height: 35px; */
    /* border-radius: 200px; */
    display: flex;
    flex-direction: row;
}
.txt-logo{
  /* width: 50px; */
    height: 40px;
    color: lightgray;
    font-weight: bold;
    /* margin-top: 7%; */
    font-family: 'Lucida Sans';
    font-style: italic;
}
.txt-logo:hover{
    cursor: pointer;
    color: grey;
    animation: mymove3 1s;
    
}
img:hover{
    cursor: pointer;
    animation: mymove1 1s infinite;
}
img{
    margin-top:-10px ;
    transform:rotate(-100deg);
    animation: mymove 10s infinite;
    /* animation: mymove1 100s infinite; */
  }
  
  @keyframes mymove {
    50% {transform: rotate(30deg);}
  }
  @keyframes mymove1 {
    100% {transform: rotate(360deg);}
  }
  @keyframes mymove3 {
    50% {transform: translate(10px,0px);}
  }
  @keyframes mymove4 {
    100% {transform: translate(700px,0px);}
  }

  .contentDiv{
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    color: #6C4A4A;
  }
.rock{
  width: 40px;
  animation: mymove4 10s infinite;

}

